name: Flutter CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
      - main

jobs:
  build:
    # This job will run on ubuntu virtual machine
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Flutter environment
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: '3.24.0'
      
      - name: Verify Flutter installation
        run: flutter --version
      
      - name: Install dependencies
        run: flutter pub get
      
      - name: Run tests
        run: flutter test